body{
    margin-bottom: 20px;
}
.cari-cari{
    /* width: 400px;
    height: 50px; */
    background-color: antiquewhite;
}
.cari-text input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.slidenya{
    margin-top: 20px;
}

.isi{
    margin-top: 20px;
    width: 1110px;
    height: 450px;
    background-color: aquamarine;
}
.kiri{
    margin: auto;
    width: 200px;
    height: 450px;
    border: 1px black;
    float: left;
    background-color: white;
}
.tengah{
    margin: auto;
    width: 250px;
    height: 450px;
    float: left;
    background-color: white;
}
.kanan{
    margin: auto;
    width: 660;
    height: 450px;
    float: left;
    background-color: rgb(10, 2, 2);
}

.gallery-buy{
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gallery-buy-bawah{
    margin: auto;
    margin-top: 10px;
}

.bag-bawah{
    margin: auto;
    margin-top: 20px;

}